 <div class="form__wrapper wrapper margin-top-5rem">
    <h3>Войти</h3>
    {{{ Form    className_label="form_label"
                label="Логин" 
                name="login" 
                type="text" 
                validation="login"
                className="form"
    }}}
    {{{ Form    className_label="form_label"
                label="Пароль" 
                name="password" 
                type="password" 
                validation="password"
                className="form"
    }}}
    {{{Button title="Войти" onClick=click}}}

    <div class="wrapper margin-top-5rem">
        <a href="/" class="error__link">На главную</a>
    </div>
</div>
