{{!< base}}

<div class="form__wrapper wrapper margin-top-5rem">
    {{> 'form/form' placeholder="Логин"}}
    {{> 'form/form'  placeholder="Пароль"}}
    {{> 'button/button'  title="Войти"}}
</div>

    

<div class="wrapper margin-top-5rem">
        <a href="../index/index.hbs" class="error__link">Вернуться назад</a>
</div>