.form__wrapper {
    background-color: var(--form-background-color);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    box-shadow: var(--box-shadow-pop-up);
    text-align: center;
}

h3 {
    margin-bottom: 30px;
}

.back-link-wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.form {
    text-align: left;
}

.form_label {
    margin-bottom: 90px;
}