<div class="dropdown">
    {{{ Button label="Настройки" className="submenu__ico" }}}
    <div id="myDropdown" class="dropdown-content">
        {{{ Button label="Добавить пользователя" className="" onClick=clickAddUser }}}
        {{{ Button label="Удалить пользователя" className="" onClick=clickRemoveUser }}}
    </div>
</div>
