.info__avatar_img {
    width: 150px;
}

.info__avatar_wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.info__icon_wrapper {
    border-radius: 50%;
    background-color: var(--button-background-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #485067;
    position: absolute;
    right: 0;
    top: 70%;
}