.chat__wrapper {
    display: flex;
    position: relative;
    margin-bottom: 5px;
}


.avatar__wrapper {
    width: fit-content;
}


.message {
    margin-left: 20px;
    font-size: 1.125rem;
}

.author {
    margin-bottom: 10px;
}

.avatar__img {
    width: 46px;
    background-color: transparent;
}

.preview {
    font-size: 1rem;
}

.info {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.125rem;
}