<div class="chat__wrapper">
    <div class="avatar__wrapper">
        <img src={{avatar}} class="avatar__img">
    </div>
    <div class="message">
        <p class="author">{{chatName}}</p>
        <p class="preview opacity_20">{{message}}</p>
        <div class="info opacity_50">
            <time>{{time}}</time>
        </div>
    </div>
</div>