<div class="chat__wrapper">
    <div class="avatar__wrapper">
        <img src="{{src}}">
    </div>
    <div class="message">
        <p>{{author}}</p>
        <p>{{message}}</p>
    </div>
    <div class="info">
        <p>{{data}}</p>
    </div>
</div>