@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './variables.css';


.button {
    background-color: var(--button-background-color);
    border-radius: 5px;
    padding: 6px 4px;
}

.info__avatar_img {
    width: 150px;
}

.error__title {
    font-size: 8rem;
}

.error__text {
    margin-top: .2rem;
}

.error__link {
    color: var(--link-color); 
    text-decoration: none;
}


.info__avatar_wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.info__icon_wrapper {
    border-radius: 50%;
    background-color: var(--button-background-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #485067;
    position: absolute;
    right: 0;
    top: 70%;
}

.info-item {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.input {
    background-color: var(--input-background-color);
    border-radius: 5px;
    margin-top: 5px;
    padding: 7px 5px;
}

.field-value {
    color: var(--link-color)
}

.form_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}
.error_wrapper {
    position: absolute;
    font-size: 10px;
    top: 60px;
    color: var(--warning-color);
    letter-spacing: 0.6;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
} 

body {
    background-color: var(--background-color);
}

button, input {
    border: none;
}

button:hover {
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

h3 {
    text-align: center;
}

h2, h3 {
    margin-bottom: 20px;
}

.opacity_50 {
    opacity: .5;
}

.opacity_20 {
    opacity: .2;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.margin-top-5rem {
    margin-top: 5rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.warn-color {
    color: var(--warning-color);
}