@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '../pages/errors/errors.css';
@import '../pages/index/index.css';
@import '../pages/login/login.css';
@import '../partials/form/form.css';
@import '../partials/button/button.css';
@import '../partials/home/home.css';
@import '../partials/chat/chat.css';

* {
    background-color: #2A2F3F;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
} 

button, input {
    border: none;
}


.opacity_50 {
    opacity: .5;
}

.opacity_20 {
    opacity: .2;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.margin-top-5rem {
    margin-top: 5rem;
}