:root {
    --background-color: #2A2F3F;
    --text-color: #fff;
    --input-background-color: #1C1F29;
    --button-background-color: #8E5BF9;
    --form-background-color: #485067;
    --box-shadow-pop-up: 0px 1px 5px rgba(255, 255, 255, 0.14);
    --link-color: #8E5BF9;
    --warning-color: #FF006B;
  }