{{!< base}}

<main>
    <ul style="list-style: none;">
        <li>
            <a href="../errors/404.hbs">Ошибка 404</a>
        </li>
        <li>
            <a href="../errors/500.hbs">Ошибка 500</a>
        </li> 
        <li>
            <a href="../login/login.hbs">страница авторизации</a>
        </li> 
        <li>
            <a href="../sign-up/sing-up.hbs">страница регистрации</a>
        </li> 
        <li>
            <a href="../chats/chats.hbs">страница чатов</a>
        </li> 
        <li>
            <a href="../settings/settings.hbs">Изменить контакт</a>
        </li> 
    </ul>
</main>
