<div class="container-error">
    <div class="container-error__information">
        <h1 class="container-error__title">404</h1>
        <p class="container-error__description">Не туда попали</p>
    </div>
    <div class="container-error__link">
        {{# Link to="/chats" }}Назад к чатам{{/Link}}
    </div>
</div>
