.main__container {
    margin-top: 10px;
    display: flex;
    height: 100vh;
}

.chats__container {
    margin-left: 30px;
    width: 30%;
}

.icon__wrapper {
    width: fit-content;
} 

.home__wrapper {
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    margin-bottom: 40px;
}