<div class="error__wrapper wrapper margin-top-5rem">
    <h1 class="error__title">500</h1>
    <p class="error__text">Извините, это не вы, это мы</p>
    <p class="error__text opacity_50">Уже исправляем</p>
    <div class="wrapper margin-top-5rem">
        {{{ Link className="error__link" to="/" text="На главную"}}}
    </div>
</div>