<div class="wrapper margin-top-5rem">
    <ul>
        <li class="margin-top-2rem">
            <a href="/authorization">Авторизация</a>
        </li>
        <li class="margin-top-2rem">
            <a href="/registration">Регистрация</a>
        </li>
        <li class="margin-top-2rem">
            <a href="/chats">Чаты</a>
        </li>
        <li class="margin-top-2rem">
            <a href="/500">Ошибка 500</a>
        </li>
        <li class="margin-top-2rem">
            <a href="/404">Ошибка 404</a>
        </li>
        <li class="margin-top-2rem">
            <a href="/profile">Профиль пользователя</a>
        </li>
    </ul>
</div>